<div class="product-add-form">
  <h2 class="product-add-form__title">Добавление товара</h2>
  <form action="#" method="post" class="product-add-form__form">
    <label class="product-add-form__label">
      <span class="product-add-form__name product-add-form__name--required">Наименование товара</span>
      <input type="text" name="name" class="product-add-form__input" placeholder="Введите наименование товара" required>
    </label>
    <label class="product-add-form__label">
      <span class="product-add-form__name">Описание товара</span>
      <textarea class="product-add-form__textarea" name="description" placeholder="Введите описание товара"></textarea>
    </label>
    <label class="product-add-form__label">
      <span class="product-add-form__name product-add-form__name--required">Ссылка на изображение товара</span>
      <input type="text" name="image" class="product-add-form__input" placeholder="Введите ссылку" required>
    </label>
    <label class="product-add-form__label">
      <span class="product-add-form__name product-add-form__name--required">Цена товара</span>
      <input type="number" name="price" class="product-add-form__input" placeholder="Введите цену" required>
    </label>
    <button type="submit" class="product-add-form__submit-btn">Добавить товар</button>
  </form>
</div>
