// Colors ( https://www.htmlcsscolor.com/hex/334482 )

$color-black:                     #000;
$color-white:                     #fff;
$color-floral-white:              #fffefb;
$color-floral-white-2:            rgba(255, 254, 251, 0.8);
$color-whisper:                   #eee;
$color-pink-swan:                 #b4b4b4;
$color-gun-powder:                #49485e;
$color-gun-eclipse:               #3f3f3f;
$color-light-coral:               #ff8484;
$color-contessa:                  #cc6a6a;
$color-sea-pink:                  #d68888;
$color-amulet:                    #7bae73;
$color-hippie-green:              #628b5c;
$color-dark-sea-green:            #95be8f;

// Viewports

$vp--320:                           320px;
$vp--768:                           768px;
$vp--1140:                          1140px;
$vp--1440:                          1440px;

// Fonts

$font-family--source-sans-pro:      "Source Sans Pro", "Arial", sans-serif;
$font-family--inter:                "Inter", "Arial", sans-serif;
